<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Resume Builder AI</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div id="app">
        <h2>Resume AI</h2>

        <label id="prompt-label">Your Full Name</label>
        <input type="text" id="user-input" placeholder="John Peter">
        <div id="toggle-container"></div>
        <div class="div-btn">
            <button id="skip-btn">Skip</button>
            <button id="send-btn">Next</button>
        </div>

        <p id="response"></p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
